[submodule "backend"]
	path = backend
	url = git@github.com:codimiracle/huidu-backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:codimiracle/huidu-web-fronted.git
	branch = master
